

/*/////////////////////////////////////////////////////////*/

.mainregdiv{
    display: block;
    width: 40%;
    height: 100%;
    background-color: #fafafa;
    margin-top: 105px;
    margin-left: 30%;
    padding: 2%;
    border-radius: 10%;
    position: relative;
    box-shadow: #00bcd4 0 0 20px;
}
.reg_lab{
    font-size: 1.2em;
    margin: 12px;
    padding: 5px;
    width: 112px;
}
.reg_inp{
    width: 70%;
//color: red;
    height: 30px;
    border-radius: 10px;
    padding: 5px;
}
.reg_inp1{
    width: 40%;
//color: red;
    height: 30px;
    border-radius: 10px;
    padding: 5px;
}
.sexdiv{
    border-bottom: 1px solid dimgray;
}
.adresslabspan{
    height: 150px;
    float: left;
    margin-top: -7px;

}
.addressdiv{
    border-bottom:1px solid dimgray;
}
.regCloseIcon{
    cursor: pointer;

}
.reg_inp1:focus,.reg_inp1:hover,.reg_inp:hover,.reg_inp:focus{
    box-shadow: #00bcd4 0 0 20px; ;
}

.icon-bar {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right:0%;
}


#close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #8b8b8b;

}

#close:hover,
#close:focus {
    color: #f44336;
    cursor: pointer;
}




.add_lab{
    font-size: 1.2em;
    margin: 12px;
    padding: 5px;
    width: 112px;
}

.selectMenu{
    font-size: 15px;
    width: 70%;
    padding: 5px;

}

.login
{
    position: relative;
    margin-left: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    border-radius: 5px;
    background-color: #00bcd4;
    line-height: 40px;
    display: inline-block;
    height: 40px;
    font-family: 'Anton', sans-serif;
    transition: all .5s;
    border:1px  solid #00000075;
    width:45%;
}
.login:hover
{
    background-color: #ffffff;
    color: #00BCD4;
    transform: scale(1.1);
    border: 1px solid var(--main-site-col);

}